body {
  font-family:  sans-serif;
  color: #FAF3BC;
  background: #191970 ;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}

.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png') no-repeat right top;
  padding: 10px 20px;
  margin: 4% 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #3AB4C7;
  border: 8px solid #FAF3BC;
}

ul.nav {
  margin: 120px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #FAF3BC;
}

#intro {
  margin: 7% 0 10% 0;
}

#new-cupcakes img {
  border: 8px solid #FAF3BC;
  margin-right: 20px;
}
#personal img,
#featured-cupcake img {
  border: 8px solid #FAF3BC;
  margin-right: 5%;
}


#copyright {
  border-top: 8px solid
  padding: 10px 0px;
  margin: 1.5% 0px;
  text-align: center;
  font-size: 0.75em;
}
















